<div *ngIf="movieInfo" class="movieInfoContainer">
  <div class="info">
    <h1 class="movieInfoTitle">{{movieInfo.title}}</h1>
    <p class="overview">{{movieInfo.overview}}</p>
   <!-- <div class="genre">
      <div *ngFor="let genre of movieInfo.genres" class="genreItem">{{genre.name}}</div>
    </div>-->
    <div class="rating">Rating: {{movieInfo.vote_average/2}}/5</div>
  </div>
  <img src="https://image.tmdb.org/t/p/w500{{movieInfo.backdrop_path}}" alt="{{movieInfo.original_title}} poster">
</div>
